.channel-new {
    background-color: #bde4c1;
    border-left: 3px solid;
}

.channel-logo {
    width: 5.313rem;
    height: 5.313rem;
    object-fit: contain;
  }

  .container-wrapper {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #f8f9fa;
  }